.header {
  padding: 1rem 0 3rem;
  font-family: Arial, sans-serif;
}

.title {
  color: #666;
  padding-top: 0.4rem;
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  outline: none;
}

.title:hover,
.title:focus {
  text-decoration: underline;
  color: #000;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0.2rem;
}

.nav-item {
  margin-right: 1.3rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.link {
  color: #999;
  text-decoration: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 1.3rem;
}

.link:hover,
.link:focus {
  color: #000;
  text-decoration: underline;
}

.active-link {
  color: #000;
}
